{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Django + Vite App</title>
  <!-- Load CSS from Vite build -->
  <link rel="stylesheet" href="{% static 'frontend/assets/style-DUqF6FaP.css' %}">
</head>
<body>

  <div class="container mt-5">
    <h1 class="text-primary">Hello Bootstrap with Vite and Django!</h1>
  </div>

  <!-- Load JS from Vite build -->
  <script type="module" src="{% static 'frontend/assets/main-DXQeGpzA.js' %}"></script>
</body>
</html>